.chats{
    min-height: 100vh;
    flex: 1;
    height: 100vh;
    position: absolute;
}

.chats__input{
    position: fixed;
    bottom: 0%;
    z-index: 1000000;
    display: flex;
    height: 50px;
    width: 100%;
}

.chats__input > input{
    flex: 1;
    height: 50px;
    background: rgb(238, 235, 235);
    padding: 5px;
}

.chats__input > button{
    padding: 10px;
    background: dodgerblue;
    color: #fff;
    padding-right: 15px;
    padding-left: 15px;
}

.chats__input > button:focus{
    outline: none;
}

.chats__input > input:focus{
    outline: none;
}

.chats__input > button:hover{
    background: rgb(0, 128, 255);
}